%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.developers
  %h1.page-title Partners
  - @developers.each do |developer|
    .developers-promo-container
      .developers-logo-image{:style => "background-image:url(#{developer.logo_image_url})"}
      .developers-promo-info
        %h2.developers-promo-title
          = developer.name
        %p
          = developer.description.html_safe
        %a{:href => developer_path(developer.slug), :class=> 'view-more'}
          View