.cookie-bar.hidden-default{:id=>'cookieBar'}
  .cookie-bar-inner
    This website uses profiling cookies, including third parties, to show you ads according to your preferences,
    to improve your shopping experience. If you like to know more, or deny the consent to all or some cookies,
    please click here. By using this website you consent to the use of cookies.
    .policy-link-container
      Click
      %a{:href=>'#', :class=>'policy-link', :id=>'iConsent'}
        Here