%section
  %footer
    .first-row
      .logo
        %a{:href=> 'https://www.moleskine.com/', :tab_index=> 0, :class=>'link'}
          = inline_svg 'logo-no-monogram.svg', class: 'moleskine-logo-footer'
      %ul{:class=> 'footer-links'}
        %li{:class=> 'item'}
          %a{:href=> 'https://us.moleskine.com/en/usage-conditions', :tab_index=> 0, :class=>'link'} Terms of Service
        %li{:class=> 'item'}
          %a{:href=> "https://www.moleskine.com/privacy-policy", :tab_index=> 0, :class=>'link'} Privacy Policy
        %li{:class=> 'item'}
          %a{:href=> cookie_policy_path, :tab_index=>0, :class=>'link'} Cookie Policy
    .second-row
      .trademark
        Moleskine &reg; is a registered trademark of Moleskine Srl a socio unico