%header.navigation{:role => "banner"}
  %a{:href=> '#skip-navigation', :tab-index=> 0, :class=>'skip-navigation'}
    Skip Navigation
  .navigation-wrapper
    .moleskine-header
      %a.logo{:href => "javascript:void(0)"}
        = inline_svg 'logo-desktop.svg', class:'moleskine-logo'
      %a#js-navigation-mobile-menu.navigation-menu-button{:href => "javascript:void(0)"}
        =icon('fas', 'bars', id:'mobile-nav-icon')
    %nav{:role => "navigation"}
      %ul#js-navigation-menu.navigation-menu.show
        %li{:class=> 'item'}
          %a{:href=> home_path, :tab_index=> 0, :class=>'link'} Home
        %li{:class=> 'item'}
          %a{:href=> works_withs_path, :tab_index=> 0, :class=>'link'} Works with Moleskine+
        %li{:class=> 'item'}
          %a{:href=> partners_path, :tab_index=> 0, :class=>'link'} Partners
    %a{:name => 'skip-navigation'}
