/public/assets
.idea
config/secrets.yml.key
.gcp-keyfile.json
app.yaml
.env
tmp
/log
.DS_Store
*.rbc
capybara-*.html
.rspec
/public/system
/coverage/
/spec/tmp
*.orig
rerun.txt
/.bundle
/vendor/bundle
.byebug_history
node_modules/
/public/packs
/public/packs-test
/yarn-error.log
yarn-debug.log*
.yarn-integrity
/storage/*
!/storage/.keep