$breadcrumb-layout-grid:(
        columns: 1,
        gutter: 1rem
);

.breadcrumb{
  @include grid-column(1, $breadcrumb-layout-grid);
  text-transform: uppercase;
  a{
    text-transform: uppercase;
    text-decoration: none;
  }
}