ul.breadcrumb{
  margin: 0.25rem 0 2rem 1rem;
  list-style: none;
  padding: 0;
  font-size: 0.75rem;
  li{
    text-transform: uppercase;
    font-weight: 600;
    margin-right: 1rem;
    a{
      text-decoration: none;
      font-weight: 400;
    }
  }
  @include media($desktop){
    display: flex;
  }
  display: none;
}