footer{
  background-color: $grey-4;
  padding: 1rem;
  flex-shrink: 0;
  @include media($md-min){
    text-align: center;
  }
  .first-row{
    @include media($lg-min){
      display: flex;
      justify-content: space-between;
    }
    .logo{
      fill: $white;
      @include media($md-min){
        margin: 0 auto 0 auto;
      }
      @include media($lg-min){
        width: 16rem;
        margin: 0;
      }
      width: 10rem;
    }
    .footer-links{
      @include media($lg-min){
        display: flex;
      }
      list-style:none;
      li{
        margin-right: 1rem;
      }
    }
  }
  .second-row{
    @include row();
    .trademark{
      color: $white;
      font-weight: 100;
      font-size: 0.75rem;
    }
  }
}
