@import "neat/grid/media";
.navigation-wrapper{
  background-color: setcolor('grey');
}

.moleskine-header{
  display: flex;
  justify-content: space-between;
  background-color: setcolor('gunmetal','dark');
  padding: 0.75rem;
  .moleskine-logo{
    fill: $white;
  }
  .right-group{
    display: flex;
    justify-content: space-between;
    margin-right: 1rem;
    .works-with-nav-label{
      color: setcolor('white');
      margin-right: 1rem;
      span.brand{
        text-transform: uppercase;
      }
    }
    .navigation-menu-button{
      color: $white;
      #mobile-nav-icon{
        font-size: 1.45rem;
      }
      @include media($lg-min){
        display: none;
      }
    }
  }
}
nav{
  ul.navigation-menu{
    list-style: none;
    display: none;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 1rem;
    padding: 1rem;
    max-width: 25%;
    .item.with-icon{
      margin-top: 0;
      .icon-text-alt{
        display: initial;
      }
      .icon{
        display: none;
      }
    }
    @include media ($lg-min) {
      padding: 0;
      .item.with-icon {
        margin-top: 0.5rem;
        .icon-text-alt {
          display: none;
        }
        .icon {
          display: initial;
          font-size: 1.25rem;
        }
      }
    }
    li{
      color: $black;
      a{
        text-transform: uppercase;
        font-weight: 600;
        text-decoration: none;
        font-size: 0.857rem;
      }
    }
  }
}
