%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.cookie-policy-inner
  %h1.page-title
    Cookie Policy
  %article{:class=>'cookie-policy-article'}
    %h2{:class=>'cookie-heading'} What are cookies?
    %p{:class=>'info'}
      Cookies are small text strings that websites visited by users send to their terminals, where they
      are stored and then relayed to those same sites when the user visits them again. Cookies are used for different
      purposes and have different features. Cookies can be used both by the Data Controller of the site being visited
      and by third parties. Below you will find all the information on cookies installed through this site and the
      necessary instructions on how to manage your cookie preferences.
    %p{:class=>'info'}
      For further information on cookies and their functions in general, please visit an information website such as
      %a{:href=>'https://www.allaboutcookies.org', :tab_index=>0} Allaboutcookies.org.
    %h2{:class=>'cookie-heading'} Cookies used by this website
    %p
      Accepting cookie policy:
      %strong
        “consent”
      , duration time 1 month
    %a{:href=>'#', :id=>'iRevoke'}
      Click here to revoke and destroy the "consent" cookie.
    %p
      All technical cookies do not require consent, therefore they are installed automatically once the website is accessed.
    %p{:class=>'info'}
      The use of cookies by the Data Controller of this site,
      %a{:href=>'https://www.moleskine.com', :class=>'moleskine-address', :tab_index=>0}
        Moleskine Srl – Viale Piceno, 17 – 20129 Milan, Italy
      , is included in its Privacy Policy; for all information required by Art. 13 Regulation (EU) 679/2016 – of the
      Privacy regulations.
    %p
      All cookies other than the aforesaid technical cookies are installed or activated only after the express consent
      of the user upon visiting the website for the first time. Consent may be granted generally, by interacting with
      the short information banner on the website page you land on, following the methods indicated on that banner
      (by clicking on the "Click here to consent" button). This consent is tracked for future visits. In any case,
      the user always has the option of revoking all or part of the previously expressed consent.
    %h2{:class=>'cookie-heading'}
      Advertising profiling cookies managed directly by the Data Controller of the website:
    %p
      The Data Controller of the website does not use advertising profiling cookies for sending advertisements,
      promotions or commercial offers in line with the preferences demonstrated by the user while browsing.
    %h2{:class=> 'cookie-heading'}
      Cookies managed by third parties:
    %p
      Cookies managed by third parties are also installed through this website. Below you will find some instructions
      as well as a link to the privacy policy and to the consent form for each of these. You can also give your consent
      for all of these by continuing to browse or by closing this window.

    %a{:url=> 'https://www.adobe.com/privacy/typekit.html', :class=>'cookie-provider', :tab_index=>0} Adobe Fonts

    %h3{:class=> 'cookie-heading'}
      Advertising profiling cookies:

    %p These are used to deliver advertisements based on interests demonstrated while browsing the Internet (OBA).

    %p
      Below you will find the name of the third parties who manage them, and for each of these the link to the page
      where you can receive information about data processing and give your consent.

    %a{:class=>'cookie-provider', :url=>'http://www.google.com/policies/technologies/ads/', :tab_index=>0} Google Analytics

    %p Remember that you can also manage your cookie preferences through your browser

    %p
      If you do not know the type or version of browser you are using, click “Help” on the browser window at the top.
      There you will find all the necessary information. If you do know your browser, click on the one you are using
      to access the cookie management page.

    %a{:url=> 'http://windows.microsoft.com/en-us/windows-vista/block-or-allow-cookies', :class=>'browser', :tab_index=>0}
      Internet Explorer

    %a{:url=> 'https://support.google.com/accounts/answer/61416?hl=it', :class=>'browser', :tab_index=>0}
      Google Chrome

    %a{:url=> 'http://support.mozilla.org/en-US/kb/Enabling%20and%20disabling%20cookies', :class=>'browser', :tab_index=>0}
      Mozilla Firefox

    %a{:url=> 'http://www.apple.com/legal/privacy/', :class=>'browser', :tab_index=>0}
      Safari

    %p
      For more information, please visit
      %a{:url=>'https://www.youronlinechoices.eu', :tab_index=>0}
        Your Online Choices
