.home{
  .introduction{

    .introduction-columns{
      h1.section-title{
        font-size: 1.5rem;
        margin-top: 0.75rem;
      }
      padding: 0.5rem;
      .read-more{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        .read-more-link{
          font-size: 1.25rem;
          font-weight: 400;
        }
      }
    }

    @include media($md-min) {
      margin: 0 1rem 0 1rem;
      .introduction-columns{
        h1.section-title{
          font-size: 2rem;
        }
        display: flex;
        flex-direction: row;
        .introduction-column{
          padding: 0.5rem;
          @include span-columns(4);
          @include shift(1);
        }
        .read-more{
          display: flex;
          justify-content: flex-end;
          .read-more-link{
            font-size: 1rem;
            font-weight: 400;
          }
        }
      }
    }
  }
  .feature{
    border: 1px solid;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 500px;
    flex-direction: row-reverse;
    &:hover{
      cursor: pointer;
      .rounded-corner{
        opacity: 0.9;
        h3{
          color: $orange;
        }
      }
    }
    .rounded-corner{
      @include transition(opacity .5s ease .2s);
      background-color: $white;
      border-top-right-radius: 25px;
      z-index: 4;
      width: 380px;
      height: 165px;
      opacity: 0.8;
      padding: 2rem;
      h3{
        @include transition(color .5s ease .2s);
        color: $grey-3;
        font-weight: 100;
        text-transform: uppercase;
        font-size: 1.5rem;
      }
    }
  }
  .testimonial-promo{
    margin: 2rem 0 0 0;
    background-color: $grey-3;
    padding: 2rem;
    .testimonial-promo-inner{
      @include outer-container();
      h2.testimonial-promo-title{
        font-size: 2rem;
        color: $white;
        background-color: $black;
        padding: 0.5rem 0 0.5rem 1rem;
      }
      .testimonial-promo-card-holder{
        display: flex;
        flex-wrap: nowrap;
        @include media($md-min) {
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-around;
        }
        flex-direction: column;
        .testimonial-promo-card{
          $card-height: 5rem;
          flex-grow: 1;
          text-align: center;
          min-height: $card-height;
          @include card(1);
          @include border-radius();
          &:hover{
            @include card(5);
            .card-title{
              color: $orange;
              cursor: pointer;
            }
          }
          .card-title{
            @include transition(color .6s ease .2s);
            color: $white;
            margin: 0 auto 0 auto;
            position: relative;
            top: $card-height/2;
            transform: translateY(-50%);
            background-color: transparentize($black, 0.6);
            max-width: 80%;
            padding: 1rem 0 1rem 0;
            @include border-radius();
          }
          @include media($md-min) {
            width: 100%;
          }
          @include media($md-min) {
            &:nth-child(1){
              margin-right: 1rem;
            }
            &:nth-child(2){
              margin:0 1rem 0 1rem;
            }
            &:nth-child(3){
              margin-left: 1rem;
            }
          }
        }
      }
    }
  }
}