.partners{
  margin-left: 1rem;
  margin-top: 1rem;
 h1.page-title{
   font-size: 3rem;
 }
  .partners-promo-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 2rem;
    .partners-logo-image{
      @include media($lg-min) {
        @include span-columns(3);
      }
      display: none;

      img{
        max-width: 15.625rem;
      }
    }
    .partners-promo-info{
      @include media($lg-min) {
        @include span-columns(5);
      }
      @include span-columns(10);
      h2.partners-promo-title{
        font-size: 2rem;
        font-weight: 200;
      }
      .view-more{
        float: right;
      }
    }
  }
}

.partner{
  margin: 2rem 0 0 2rem;
  display: flex;
  margin-bottom: 2rem;
  .partner-logo-image{
    @include media($lg-min) {
      @include span-columns(3);
    }
    display: none;
    img{
      max-width: 15.625rem;
    }
  }
  .partner-promo-info{
    @include media($lg-min) {
      @include span-columns(5);
    }
    @include span-columns(10);
    h1.page-title{
      font-size: 2rem;
    }
    h2.apps-created-header{
      font-size: 1.25rem;
      span.brand{
        text-transform: uppercase;
      }
    }
    ul.apps-by-this-partner{
      list-style: none;
    }
  }
}