.testimonial{
  margin:1rem;
  .testimonial-sidebar {
    @include media($large-screen) {
      @include span-columns(4);
    }
    @include span-columns(12);
    h3.works-with-sidebar-title{
      font-weight: 400;
      font-size: 1.5rem;
      a{
        text-decoration: none;
        &:hover{
          color: $blue;
        }
      }
    }
    ul.distributor-links{
      list-style: none;
      margin: 0;
      padding: 0;
      li{

        a{
          text-decoration: none;
          &:hover{
            color: $orange;
          }
        }
      }
    }
  }

  .testimonial-article {
    @include media($large-screen) {
      @include span-columns(8);
      margin-bottom: 2rem;
    }
    @include row();
    h1.testimonial-title{
      font-size: 3rem;
      margin-bottom: 0;
    }
    h2.testimonial-byline{
      font-weight: 200;
      font-size: 1.25rem;
      margin-bottom: 1rem;
    }
    .video-container{
      @include video-wrapper(1920px);
    }
  }
}

