.works-withs{
  margin-top: 1rem;
  h1.page-title{
    margin-left: 1rem;
    font-size: 3rem;
    span.brand{
      text-transform: uppercase;
    }
  }
  .m-plus-promo-container{
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .m-plus-promo{
      margin: 2rem 1rem 2rem 0;
      font-size: 1.25rem;
      font-style: italic;
      font-weight: 400;
      a{
        opacity: 0.4;
        color: setcolor('silver-grey');
        @include transition(opacity .5s ease .5s);
        @include transition(color .6s ease .5s);
      }
      &:hover{
        a{
          color: setcolor('silver-grey', 'dark');
          opacity: 0.7;
          span{
            &.analog{
              color: setcolor('orange');
            }
            &.digital{
              color: setcolor('blue-pet');
            }
          }
        }
      }
      span{
        &.brand{
          text-transform: uppercase;
          &:after{
            content: '+';
          }
        }
        &.analog{
          @include transition(color .8s ease .5s);
          text-transform: uppercase;
          font-weight: 100;
        }
        &.digital{
          @include transition(color .5s ease .8s);
          text-transform: uppercase;
          font-weight: 600;
        }
      }
    }
  }
}

.works-with{
  margin-top: 1rem;
  .slider-wrapper{
    @include box-shadow();
    border-top: 0.25rem solid transparentize(setcolor('space-grey'), 0.9);
    .slider{
      .slide{
        max-height: 14rem;
        img{
          margin-top:-7rem;
        }
        @include media($lg-min){
          max-height: 20rem;
          img{
            margin-top:-10rem;
          }
        }
      }
    }
  }
  .main{
    @include clearhax();
    margin-top: 3rem;
    margin-left: 1rem;
    .title{
      font-size: 2rem;
      font-weight: 100;
      text-transform: capitalize;
    }
    .main-columns{
      display: flex;
      @include media($lg-min) {
        margin-top: 1rem;
        flex-direction: row;
      }
      flex-direction: column;
      .description-column{
       padding:0 1rem 0 0.5rem;
        @include media($lg-min) {
          @include span-columns(5);
        }
        .promotion-video{
          @include video-wrapper(1920px, setcolor('grey', 'dark'));
        }
      }
      .download-column{
        @include media($lg-min) {
          @include shift(1);
          @include span-columns(5);
        }
        h3.download-header{
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
        ul.download-app-links{
          list-style: none;
          margin: 0;
          li{
            max-width: 200px;
            a{
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  .product-promotion-container{
    display: flex;
    margin-top: 2rem;
    @include media($lg-min) {
      margin-top: 1rem;
      flex-direction: row;
    }
    flex-direction: column;
    .product-promotion-text{
      margin-left: 1rem;
      h2{
        font-size: 1.25rem;
      }
      @include media($lg-min) {
        @include span-columns(6);
      }
      .promotion-link-container{
        display: flex;
        justify-content: flex-end;
        margin: 0 1rem 2rem 0;
      }
      a{
        font-size: 1.1rem;
      }
    }
    .product-promotion-image{
      @include media($lg-min) {
        @include shift(1);
        @include span-columns(6);
      }
    }
  }
}