.works-withs{
  h1.page-title{
    margin-top: 1rem;
    margin-left: 1rem;
    @include media($lg-min){
      font-size: 3rem;
    }
    font-size: 1.5rem;
    span.brand{
      text-transform: uppercase;
    }
  }
}

.works-with{
  margin-bottom: 1rem;
  .slider-wrapper{
    @include media($lg-min){
      @include box-shadow();
      border-top: 0.25rem solid transparentize(setcolor('space-grey'), 0.9);
    }
    .slider{
      .slide{
        @include media($lg-min){
          height: auto;
          max-height: 32rem;
        }
      }
    }
  }
  .main{
    @include clearhax();

    @include media($lg-min) {
      margin-top: 5rem;
    }
    margin-top: 4rem;
    margin-left: 1rem;
    .title{
      font-size: 2rem;
      font-weight: 100;
      text-transform: capitalize;
      margin-bottom: 1rem;
    }
    .main-columns{
      display: flex;
      @include media($lg-min) {
        margin-top: 1rem;
        flex-direction: row;
      }
      flex-direction: column;
      .description-column{
       padding:0 1rem 0 0;
        @include media($lg-min) {
          @include span-columns(5);
        }
        .promotion-video{
          @include video-wrapper(1920px, setcolor('grey', 'dark'));
        }
      }
      .download-column{
        @include media($lg-min) {
          @include shift(1);
          @include span-columns(5);
        }
        h3.download-header{
          font-size: 1.5rem;
          font-weight: 400;
          margin-bottom: 1rem;
        }
        ul.download-app-links{
          list-style: none;
          margin: 0;
          li{
            max-width: 200px;
            a{
              font-size: 1.25rem;
            }
          }
        }
      }
    }
  }
  .product-promotion-container{
    display: flex;
    margin-top: 2rem;
    @include media($lg-min) {
      margin-top: 1rem;
      flex-direction: row;
    }
    flex-direction: column;
    .product-promotion-text{
      margin-left: 1rem;
      h2{
        font-size: 1.25rem;
      }
      @include media($lg-min) {
        @include span-columns(6);
      }
      .promotion-link-container{
        display: flex;
        justify-content: flex-end;
        margin: 0 1rem 2rem 0;
      }
      a{
        font-size: 1.1rem;
      }
    }
    .product-promotion-image{
      @include media($lg-min) {
        @include span-columns(6);
      }
    }
  }
}