@import "../neat/neat-helpers"; // or "../neat/neat-helpers" when not in Rails

$mobile: 768;
$tablet: 992;
$desktop: 1200;


//xs, sm, med, lg

$xs-max: $mobile * 1px;
$xs-minus: $mobile - 1;
$sm-min: $xs-minus * 1px;
$sm-minus: $tablet - 1;
$sm-max: $sm-minus * 1px;
$md-min: $tablet * 1px;
$md-minus: $desktop - 1;
$md-max: $md-minus * 1px;
$lg-min: $desktop * 1px;