@import "palette";
.screen-reader-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

a{
  &:focus{
    border: 1px solid $blue;
  }
}

.skip-navigation{
  opacity: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  top:-3000px;
  &:focus{
    opacity: 1;
    width: 4rem;
    height: 1.25rem;
    position: inherit;
    top: 0;
  }
}

//#ToDo: Feature Spec for links focus state