%ul.breadcrumb
  = render_breadcrumbs :tag=> :li, :separator => ""
.works-withs
  %h1.page-title
    Works with
    %span{:class=> 'brand'}
      Moleskine
  -@works_withs.each do |x|
    .feature{:onclick =>"location.href='#{works_with_path(x.slug)}'"}
      %img.lazyload{:data=>{:srcset=> get_src_set(x.promo_image_url, [1920,768,992]),:sizes=>'auto', :parent=> {:fit=>'cover'}}}
      .rounded-corner.long
        %h3
          = x.title
        .description
          = x.promo_text.html_safe